@import url("https://fonts.googleapis.com/css2?family=Lato:wght@500&family=Oswald:wght@400&display=swap");

* {
    margin: 0;
    border: none;
    padding: 0;
}

/* body */
body {
    background-color: #fcfafa;
    font-family: lato, sans-serif;
    text-align: center;
    font-weight: 300;
    color: rgb(30, 27, 27);
    overflow-x: hidden;
}


/* headings */
h1, h2, h3 {
    font-family: Oswald, sans-serif;
    color: rgb(30, 27, 27);
    text-transform: capitalize;
}

/* header */
/* logo */
#logo {
    float: left;
    font-size: 280%;
    line-height: 75px;
    margin-left: 40px;
}

#logo:hover {
    color: rgb(109, 10, 10);
}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 1px;
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a:hover {
    border-bottom: 1px solid rgb(109, 10, 10);
    color: rgb(109, 10, 10);
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid rgb(30, 27, 27);
}

/* home page */
/* hero image on home page */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;

    /* animates zoom effect on hero image */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2.2);
    }
}

/* cover on home page */
#cover-text {
    font-size: 100%;
    font-family: Oswald, sans-serif;
    line-height: 35px;
    text-transform: capitalize;
    text-align: center;
    width: 300px;
    height: 120px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgba(239, 200, 200, 0.8);
    bottom: 50px;
    right: 150px;
    position: absolute;
}

#cover-text h2, h3 {
    color: rgb(109, 10, 10);
}

/* footer */
footer {
    margin-top: 50px;
    height: 75px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 2%;
    padding: 2%;
    color: rgb(109, 10, 10);
}

/* gallery page */
/* images on gallery page */
#images {
    clear: both;
    column-count: 3;
    column-gap: 5px;
    padding-bottom: 5px;
}

#images > img {
    width: 100%;
}

/* Comments page */
/* Comments sections and count of comments */
.color {
    color: rgb(109, 10, 10);
}

textarea {
    background-color: rgb(247, 238, 238);
    color: rgb(109, 10, 10);
    height: 100px;
    width: 30%;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgb(246, 224, 224);
    border-radius: 2px;
    font-size: 120%;
}

textarea:hover {
    border-color: rgb(109, 10, 10);
}

#comment-box {
    display: block;
    line-height: 30px;
    background-color: rgb(247, 238, 238);
    color: rgb(109, 10, 10);
    width: 40%;
    margin-left: 430px;
}

ul {
    list-style-type: none;
}

.commentCount {
    padding: 2px 15px 2px 15px;
    color: #722635;
}

button {
    border: none;
    color: rgb(109, 10, 10);
    font-size: 25px;
    border-radius: 50%;
}

.submit {
    box-sizing: border-box;
    border-radius: 50px;
    border-color: rgb(109, 10, 10);
    background-color: #f69e9e;
    color: rgb(109, 10, 10);
    margin: 5px auto;
    padding: 10px 25px;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    line-height: 30px;
}

.submit:hover {
    background-color: #eb7979;
}

/* popup message */
.popup-message {
    width: 40%;
    box-sizing: border-box;
    border-radius: 50%;
    border-color: rgb(174, 166, 246);
    background-color: #c9e6f4;
    color: #36070c;
    margin: 5px auto;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    line-height: 50px;
    position: relative;
}

/* contact us page */
/* image on contact us page */
#contact-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#contact-image {
    height: 600px;
    width: 100%;
    background: url('../images/strengthen-pelvic-floor-muscles.jpg') no-repeat center center;

    /* animates zoom effect on image on contact us page */
    animation-name: contact-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for image on contact us page */
@keyframes contact-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2.2);
    }
}

/* contact details */
#contact-text {
    font-size: 120%;
    font-family: Oswald, sans-serif;
    line-height: 30px;
    text-transform: capitalize;
    text-align: center;
    width: 400px;
    height: 250px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgba(184, 248, 245, 0.8);
    color: rgb(109, 10, 10);
    bottom: 40px;
    right: 100px;
    position: absolute;
}

#contact-text h2, h3 {
    color: rgb(109, 10, 10);
    margin-top: 10px;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.lowercase {
    text-transform: lowercase;
}

/* contact form */
#form {
    height: 800px;
}

.contactus-form {
    margin: 50px 0;
    color: rgb(109, 10, 10);
    background-color:rgba(246, 224, 224, 0.8);
    max-width: 427px;
    position: absolute;
    left: 33%;
    padding: 30px;
    border-radius: 20px;
}

.contactus-form h2 {
    color: rgb(109, 10, 10);
    margin-bottom: 20px;
    text-align: center;
    font-size: 124%;
}

.input-text {
    background-color: rgb(247, 238, 238);
    color: rgb(109, 10, 10);
    width: 98%;
    height: 30px;
    margin: 5px 0 20px;
    padding: 5px;
    border: 1px solid rgb(246, 224, 224);
    border-radius: 2px;
}

.input-text:hover {
    border-color: rgb(109, 10, 10);
}

.input-radio {
    margin: 10px;
    width: 100%;
    font-size: 90%;
    text-align: left;
    line-height: 25px;
}

.message {
    background-color: rgb(247, 238, 238);
    color: rgb(109, 10, 10);
    height: 150px;
    width: 98%;
    margin: 5px 0 15px;
    padding: 5px;
    border: 1px solid rgb(246, 224, 224);
    border-radius: 2px;
}

.message:hover {
    border-color: rgb(109, 10, 10);
}

button[type=submit] {
    margin: 10px 20px;
    border-radius: 50px;
    padding: 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f69e9e;
    color: rgb(109, 10, 10);
    display: block;
    float: right;
}

button[type=submit]:hover {
    background-color: #f35050;
    color: #fafafa;
}

button[type=reset] {
    margin: 10px 20px;
    border-radius: 50px;
    padding: 15px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #f69e9e;
    color: rgb(109, 10, 10);
    display: block;
    float: right;
}

button[type=reset]:hover {
    background-color: #f35050;
    color: #fafafa;
}

button[type=submit],
button[type=reset] {
    display: inline-block;
}

/* submission page */
/* image on submission page */
#submission-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#submission-image {
    height: 600px;
    width: 100%;
    background: url('../images/yoga.jpg') no-repeat center center;

    /* animates zoom effect on image on submission page */
    animation-name: submission-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for image on submission page */
@keyframes submission-zoom {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.4);
    }
}

/* submission message */
#submission-text {
    font-size: 120%;
    font-family: Oswald, sans-serif;
    line-height: 35px;
    text-align: center;
    width: 320px;
    height: 100px;
    border-radius: 50px;
    padding: 20px;
    background-color: rgba(239, 200, 200, 0.8);
    color: rgb(109, 10, 10);
    bottom: 150px;
    left: 250px;
    position: absolute;
}

#submission-text h3 {
    text-transform: none;
}