@import url("https://fonts.googleapis.com/css2?family=Lato:wght@500&family=Oswald:wght@400&display=swap");

/* body */
body {
    background-color: #fcfafa;
    font-family: lato, sans-serif;
    text-align: center;
    font-weight: 500;
    overflow: hidden;
}

/* popup message */
.popup-message {
    width: 30%;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: #c9e6f4;
    color: #36070c;
    margin: 5px auto;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    line-height: 50px;
    position: relative;
}

button {
    border: none;
    color: rgb(109, 10, 10);
    font-size: 25px;
}

textarea {
    background-color: rgb(247, 238, 238);
    color: rgb(109, 10, 10);
    height: 150px;
    width: 30%;
    margin: 5px 0 15px;
    padding: 5px;
    border: 1px solid rgb(246, 224, 224);
    border-radius: 2px;
    font-size: 120%;
}

textarea:hover {
    border-color: rgb(109, 10, 10);
}

ul {
    display: block;
    width: 50%;
    text-align: center;
}

.btn {
    display: block;
}