@import url("https://fonts.googleapis.com/css2?family=Lato:wght@500&family=Oswald:wght@400&display=swap");

/* body */
body {
    background-color: #fcfafa;
    font-family: lato, sans-serif;
    text-align: center;
    font-weight: 500;
    overflow: hidden;
}

/* Comments sections and count of comments */
.color {
    color: rgb(109, 10, 10);
}

textarea {
    background-color: rgb(247, 238, 238);
    color: rgb(109, 10, 10);
    height: 100px;
    width: 30%;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(246, 224, 224);
    border-radius: 2px;
    font-size: 120%;
}

textarea:hover {
    border-color: rgb(109, 10, 10);
}

#comment-box {
    display: block;
    line-height: 30px;

}

ul {
    list-style-type: none;
}

.commentCount {
    padding: 2px 15px 2px 15px;
    color: #722635;
}

button {
    border: none;
    color: rgb(109, 10, 10);
    font-size: 25px;
    border-radius: 50%;
}

input[type=submit] {
    box-sizing: border-box;
    border-radius: 5%;
    border-color: rgb(109, 10, 10);
    background-color: #f69e9e;
    color: rgb(109, 10, 10);
    margin: 5px auto;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    line-height: 30px;
}

input[type=submit]:hover {
    background-color: #eb7979;
}

/* popup message */
.popup-message {
    width: 40%;
    box-sizing: border-box;
    border-radius: 50%;
    border-color: rgb(174, 166, 246);
    background-color: #c9e6f4;
    color: #36070c;
    margin: 5px auto;
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    line-height: 50px;
    position: relative;
}